.question {
  font-family: Karla, sans-serif;
  color: #293264;
  padding-top: 3rem;
}

.question h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

.question button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #293264;
  margin: 0rem 1rem;
}

.question button:nth-of-type(1) {
  margin-left: 0;
}
