.quiz-section {
  margin: 0 7.5%;
  display: flex;
  flex-direction: column;
}

.top {
  position: fixed;
  top: 0;
  right: 0;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.quiz-section .fetching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Karla, sans-serif;
  color: #293264;
}

.quiz-section .submit-quiz {
  align-self: center;
  margin: 2.5rem 0;
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
}

.quiz-section .submit-quiz:hover {
  background-color: #293264;
}
