.quiz-section {
  height: 100vh;
  margin: 0 7.5%;
}

.top {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.quiz-section .fetching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Karla, sans-serif;
  color: #293264;
}
